DATABASE_USER=postgres
DATABASE_PASS=password
DATABASE_NAME=postgres
DB_HOST=localhost
DB_PORT=9852

OBSERVATION_SOURCE='CHRIS'
CHUNK_SIZE=

DATA_DIR='../data'
CALCULATED_EDGES_PATH='../data/scores_including_tests.csv'

# Phenotypes
PHENOTYPE_META_PATH='../data/DyHealthNet/chris_summary_data/phenotypes/pheno_meta_all.tsv'
PHENOTYPE_LABEL_COLUMN='label'
PHENOTYPE_DESCRIPTION_COLUMN='description'
PHENOTYPE_DP_NAME_COLUMN='snomed_term'
PHENOTYPE_XREF_COLUMN='snomed_id'

# Proteins
PROTEIN_META_PATH='../data/DyHealthNet/chris_summary_data/proteins/CHRIS_somalogic_descriptive_statistic.txt'
PROTEIN_LABEL_COLUMN='protein_id'
PROTEIN_DESCRIPTION_COLUMN='long_description'
PROTEIN_DP_NAME_COLUMN='UniProt'
PROTEIN_XREF_COLUMN='UniProt'

# Metabolites
METABOLITE_META_PATH='../data/DyHealthNet/chris_summary_data/metabolites/CHRIS_biocristes7500SumStats.txt'
METABOLITE_LABEL_COLUMN='analyte_name'
METABOLITE_DESCRIPTION_COLUMN='analyte_class'
METABOLITE_DP_NAME_COLUMN='biochemical_name'
METAOBOLITE_XREF_COLUMN='hmdb_id'

# Genomic Variants
GENOMIC_VARIANT_META_PATH='../data/DyHealthNet/chris_summary_data/variants/variants_meta.tsv'
GWAS_STATS_PATH='../data/DyHealthNet/chris_summary_data/variants/fully_simulated_gwas.tsv'

DEBUG=False